body {
    background-color: rgb(182, 187, 187);
    width: auto;
    height: auto;
    padding-left: 20px ;
}

section {
    width: auto;  
}
footer {
    color: black;
    margin-bottom: 50PX;
    text-align: center;
    font-style: italic;
    font-size: large;
}

table {
    background-color: rgb(50, 95, 243);
    width: 700px;
   
}